body {
  margin: 0 20px;
  background-color: #00e7ff;
}

#sign-up {
  width: 70%;
  height: 505px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background: #f5f7fe;
  padding: 20px;
  text-align: left;
  margin-top: 10px;
}

#sign-up img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.size {
  width: 100%;
}

input {
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

h1 {
  font-size: 1.4em;
  margin-top: -20px;
}

p {
  font-size: 1em;
  text-align: justify;
  font-family: 'Lato', sans-serif;
}

#info {
  margin-top: 20px;
}

#testimonial {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}

#testimonial::after {
  content: "";
  clear: both;
  display: table;
}

#testimonial img {
  width: 90px;
  height: 90px;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

#testimonial span {
  font-size: 20px;
  margin-right: 15px;
  font-weight: bold;
  margin-left: 35px;
}

#logo {
  margin-left: -27px;
  margin-top: -105px;
  width: 90px;
  height: 90px;
}

.size2 {
  width: 80px;
}

#login {
  margin-left: 60px;
  margin-top: -10px;
}

#rectangle {
  width: 1300px;
  height: 55px;
  background: #00c9de;
  margin-top: -60px;
  margin-left: -50px;
}

@media(min-width:768px) {
  body {
    margin: 10px 20px;
    background-color: #00e7ff;
  }

  #sign-up {
    display:block;
    width: 40%;
    height: 650px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #f5f7fe;
    padding: 20px;
    text-align: left;
    float: right;
    margin-top: 20px;
  }

  #sign-up img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }

  #sign-up label{
    font-size: 2.48em;
  }


  .size {
    width: 100%;
  }

  input {
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  h1 {
    font-size: 3.6em;
    margin-top: -20px;
  }

  p {
    font-size: 2.48em;
    text-align: justify;
    font-family: 'Lato', sans-serif;
  }

  #info {
    float: left;
    margin-top: 20px;
    width: 50%;
  }

  #testimonial {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    height: 165px;
  }

  #testimonial::after {
    content: "";
    clear: both;
    display: table;
  }

  #testimonial img {
    width: 90px;
    height: 90px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }

  #testimonial span {
    font-size: 20px;
    margin-right: 15px;
    font-weight: bold;
    margin-left: 35px;
  }

  #logo {
    margin-left: -27px;
    margin-top: -105px;
    width: 130px;
    height: 130px;
  }

  .size2 {
    width: 140px;
  }

  #login {
    margin-left: 100px;
    margin-top: -10px;
  }

  #rectangle {
    width: 1300px;
    height: 55px;
    background: #00c9de;
    margin-top: -60px;
    margin-left: -50px;
  }
}

/*1200*/
@media (min-width: 1200px) {
  body {
    margin: 10px 30px;
    background-color: #00e7ff;
    width: 1200px;
  }

  #sign-up {
    width: 50%;
    height: 505px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #f5f7fe;
    padding: 20px;
    text-align: left;
    float: right;
  }

  #sign-up img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }

  .size {
    width: 100%;
  }

  input {
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  h1 {
    font-size: 2em;
    margin-top: -20px;
  }

  p {
    font-size: 1.6em;
    text-align: justify;
    font-family: 'Lato', sans-serif;
  }

  #info {
    float: left;
    margin-top: 20px;
    width: 40%;
  }

  #testimonial {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0;
    height: 90px;
  }

  #testimonial::after {
    content: "";
    clear: both;
    display: table;
  }

  #testimonial img {
    width: 90px;
    height: 90px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }

  #testimonial span {
    font-size: 20px;
    margin-right: 15px;
    font-weight: bold;
    margin-left: -5px;
  }

  #logo {
    margin-left: -35px;
    margin-top: -125px;
    width: 130px;
    height: 130px;
  }

  .size2 {
    width: 140px;
  }

  #login {
    margin-left: 650px;
    margin-top: -10px;
  }

  #rectangle {
    width: 1300px;
    height: 55px;
    background: #00c9de;
    margin-top: -60px;
    margin-left: -50px;
    margin-bottom: 15px;
  }
}
